# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = source_spider.settings

[deploy]
url = http://188.131.195.22:6800/
project = source_spider
username = root

# curl http://188.131.195.22:6800/schedule.json -d project=source_spider -d spider=iidvd_spider
# curl http://188.131.195.22:6800/cancel.json -d project=source_spider -d job=1ab49ce40c0e11e99a77525400aa5762